<header>
  <mat-toolbar color="primary" class="mat-elevation-z1">
    <mat-toolbar-row>
      <span>Koodarihommat</span>
      <span class="spacer"></span>
      <span>
        <input type="text" placeholder="Suodata" value="" #box (keyup)="onKey(box.value)">
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<div class="app-container">
  <!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Suodata" value="" #box (keyup)="onKey(box.value)">
    </mat-form-field>
  </form> -->
  <div class="article-container" *ngFor="let job of jobsToDisplay">
    <mat-card>
      <a [href]="job.link">
        <mat-card-title>
          {{ job.title }}
        </mat-card-title>
      </a>
      <mat-card-content>
        <p class="article__description">{{ job.description }}</p>
      </mat-card-content>
      <mat-card-content>
        <p class="article__description">{{ job.timestamp }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>