@import '../style-variables';

.topline {
  height: 4px;
  background: $salmon;
}

.articles-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.article-container {
  padding: 1em;
  max-width: 480px;
}

.article__description {
  color: grey;
}

h1 {
  margin-bottom: 0;
}
h4 {
  margin-top: 0;
}

.centered {
  text-align: center;
}

.filter {
  margin: 2em 0em;
}

input {
  background: transparent;
  color: $brown;
  font-size: 1em;
  border: 0;
  border-bottom: 1px solid $brown;
  outline: none;
  max-width: 100%;
}

input::placeholder {
  color: $brown;
}

// .spacer {
//   flex: 1 1 auto;
// }
// header {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   z-index: 1;
// }
