<div class="topline"></div>
<div class="app-container">
  <div class="centered">
    <h1>Koodarihommat</h1>
    <h4>
      <cite>Koko maan koodarihommat yhessä paikassa</cite>
    </h4>
  </div>
  <div class="centered filter">
    <input type="text" placeholder="Suodata..." value="" #box (keyup)="onKey(box.value)">
  </div>
  <div class="articles-container">
    <div class="article-container" *ngFor="let job of jobsToDisplay">
      <mat-card>
        <a [href]="job.link">
          <mat-card-title>
            {{ job.title }}
          </mat-card-title>
        </a>
        <mat-card-content>
          <p class="article__description">{{ job.description }}</p>
        </mat-card-content>
        <mat-card-content>
          <p class="article__description">{{ job.timestamp }}</p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>